<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top secret</title>
    <link rel="stylesheet" href="/css/simple-sidebar.css">
    <style>
        .img {
            display: block;
            width: 100%;
            height: auto;

        }

        @font-face {
            font-family: Ekkamai-new;
            src: url(/fonts/th_fonts/EkkamaiNew-Regular.ttf);
        }

        h1,
        h2 {
            font-family: Ekkamai-new;
            color: black;
            /* text-shadow: 2px 2px 4px #000000; */
        }

        hr.new2 {
            border-top: 3px dashed white;
            /* text-shadow: 2px 2px 4px #000000; */
        }

        .name {
            font-family: Ekkamai-new;
            font-size: 18px;
            color: black;
            /* text-shadow: 2px 2px 5px #000000; */
        }
        .bg {
            /* The image used */
            background-image: url('/bg/bg2.jpg');

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position:center;
            background-repeat: no-repeat;
            background-size:cover;
        }
    </style>
</head>

<body>
    <div class="container">
        <br>
        <a href="/"><button class="btn-lg btn btn-danger">BACK</button></a>
        <h1 class="display-4 text-center">Website  
           <span class="btn-dark"> Contributor</span></h1>
        <h2 class="display-4 text-center" style="font-size: 45px;">(บอร์ดบริหาร)</h2>
        <div class="row">
            <div class="col-md-4 col-lg-4" style="margin-left:auto; margin-right:auto;">
                <img class="img btn btn-warning" src="/Contribubutor/lift.png" alt=""
                    style="padding:3px;  border:1px solid #ccc">
                <hr class="new2">
                <div class="text-center">
                    <p class="name">พลตำรวจเอก ปริญญา สีตะวัน</p>
                    <p class="name">ผู้บัญชาการโปรเจค</p>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-3 col-lg-3">
                <img class="img btn btn-danger" src="/Contribubutor/boss.png" alt="" style="padding:3px;  border:1px solid #ccc">
                <div class="text-center">
                    <hr class="new2">
                    <p class="name">พันตำรวจโท ปริญญากร เตจ๊ะเสาร์</p>
                    <p class="name">ผู้บัญชาการ CSS</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <img class="img btn btn-primary" src="/Contribubutor/job.png" alt="" style="padding:3px;  border:1px solid #ccc">
                <div class="text-center">
                    <hr class="new2">
                    <p class="name">พันตำรวจโท ปฐมพร ปั๋นแก้ว</p>
                    <p class="name">ผู้บัญชาการ Git Repository and Fullstack code</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <img class="img btn btn-success" src="/Contribubutor/stamp.png" alt="" style="padding:3px;  border:1px solid #ccc">
                <div class="text-center">
                    <hr class="new2">
                    <p class="name">ร้อยตำรวจเอก วัชรินทร์ ราชาเดช</p>
                    <p class="name">ผู้ช่วย FullStack code</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <img class="img" src="/Contribubutor/dummy.jpg" alt=""
                    style="padding:3px;  border:1px solid #ccc; height: 288px;">
                <div class="text-center">
                    <hr class="new2">
                    <p class="name">พลทหาร ประยุทร์ จันทร์อังคาร</p>
                    <p class="name">ยาม</p>
                </div>
            </div>
        </div>

    </div>

</body>

</html>